
/* navbar */
.navbar {
    background: #70C24A;
    font-family: 'Nunito', sans-serif;
}
/* liens menu */
.menu-items {
    text-align: center;
    height: 26px;
    width: auto;
    border-radius: 20px;
    border: 2px solid #70C24A;
    color: white !important;
    transition: background-color 0.3s;
    transition: box-shadow 0.3s;
}
.menu-items:hover {
    background-color: #7CB342;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.logo {
    font-family: 'Lobster', sans-serif;
    font-size: 32px;
    color: white !important;
    text-decoration: none;
}
.don1 {
    color: #70C24A;
    border: 2px solid #70C24A;
    border-radius: 20px;
    background: white;
    transition: color 0.3s;
    transition: background-color 0.3s;
    width: 150px;
    height: 36px;
}
.don1:hover {
    color: white;
    background-color: #7CB342;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.don2 {
    color: #70C24A;
    border: 2px solid #70C24A;
    border-radius: 20px;
    transition: color 0.3s;
    transition: background-color 0.3s;
    width: 150px;
    height: 36px;
}
.don2:hover {
    color: white;
    background-color: #7CB342;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
/* menu burger */
#wrapper {
    background: #7EE94C;
    display: inline-block;
    border-radius: 500px;
    margin: 0px;
    position: relative;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.circle {
    width: 20px;
    height: 20px;
    position: relative;
}
.line {
    position: absolute;
    height: 2px;
    width: 100%;
    background: white;
    border-radius: 8px;
    transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
}
.top {
    top: 18%;
}
.middle {
    top: 48%;
}
.bottom {
    top: 78%;
}
.icon.close .top {
    transform: rotate(45deg);
    top: 48%;
}
.icon.close .middle, .icon.close .bottom {
    transform: rotate(-45deg);
    top: 48%;
}
.img {
    object-fit: cover;
}
.rowTitle {
    background-color: #7CB342;
}
.titleOfPage {
    border-bottom: 2px solid #70C24A;
}
/*Modal de connexion*/
.modal-content {
    background-color: #7CB342 !important;
}
.modal-header {
    border-bottom: 2px solid #70C24A !important;
}
.btn {
    font-family: 'Dosis', sans-serif;
    border-radius: 20px;
    border: 2px solid #70C24A !important;
    transition: background-color 0.3s;
    transition: box-shadow 0.3s;
}
.btn:hover {
    background-color: #70C24A;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
#submitRegister {
    color: #70C24A;
    transition: color 0.3s;
}
#submitRegister:hover {
    color: white;
}
label, input {
    font-family: 'Dosis', sans-serif !important;  
}
/* main actu */
.baniere-title {
    height: 760px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/6L8A6693.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: local, fixed;
}
.title {
    font-family: 'Dosis', sans-serif;
    font-size: 56px;
    text-shadow: 1px 1px 2px black;
}
.slogan {
    font-style: italic;
    font-size: 26px;
    text-shadow: 1px 1px 2px black;
}
h1, h2, h5, p, small, .btn {
    font-size: 1.5vw;
    font-family: 'Dosis', sans-serif;
}
small {
    font-size: 26px;
    font-family: 'Dosis', sans-serif;
    color: #6F6F6F;
}
h3 {
    font-family: 'Dosis', sans-serif;
}
span {
    font-family: 'Dosis', sans-serif;
    color: white !important;
    text-decoration: none !important;
}
.descript-title {
    background: #7CB342;
}
/* actualité */
#titleOfDay {
    border-bottom: 2px solid #70C24A;
    background-color: #7CB342;
    font-size: 2vw;
}
.actuality {
    background: #70C24A;
    border-radius: 20px;
}
.newsText {
    font-size: 16px;
}
.galleryImg {
    width: 350px;
    height: 225px; 
}
.news {
    border-bottom: 1px solid #E5E5E5;
}
.twitter {
    border-left: 1px solid #E5E5E5;
}
.twitter-timeline {
    position: -webkit-sticky!important;
    position: sticky !important;
    top: 10px !important;
}
#thanks {
    height: 350px;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/IMG_7023.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: local, fixed;
    text-shadow: 1px 1px 2px black;
}
#thanks .don2 {
    display: none;
}
.donation {
    height: 350px;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/IMG_7023.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: local, fixed;
}
/*Galerie*/
#galerieMain {
    overflow-x: hidden;
}
.imgLink {
    display: block;
    width: 300px;
    height: 225px;
    background-image: url("../img/img_5034.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    text-decoration: none !important;
    text-shadow: 1px 1px 2px black;
    transition: 0.5s is ease-in-out;
}
.darkOverlay{
    display: block;
    position: absolute;
    background-color: black;
    width: 300px;
    height: 225px;
    opacity: 0;
    transition: opacity .2s;
}
.darkOverlay:hover {
    opacity: 0.5 !important;
}
.titleImg {
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    color: #212529;
}
.titleImg:hover {
    color: #212529; 
}
/*about us*/
.descript-img1 {
    background-image: url("../img/img_6809.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.descript-img2 {
    background-image: url("../img/img_4679.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
/* footer */
footer {
    width: 100%;
    height: 200px;
    background: #2A3847;
}
/* social */
.social {
    transition: all .2s ease-in-out;
}
.social:hover {
    transform: scale(1.2);
}
/* Media query */
/*@media screen and (max-width: 767px) {
    
}*/
@media screen and (max-width: 767px) {
    #textOfArticleOfDay {
        display: none;
    }
    #titleOfDay, .newsTitle, #thanksText {
        font-size: 18px;
        border-bottom: none;
    }
    .newsImg {
        height: auto !important;
        text-align: center;
    }
    .newsText {
        display: none;
    }
    .descript-goal p, #thanks p, #chamblyCopyright {
        font-size: 18px;
    }
    #thanks .don2 {
        display: block;
    }
    .descript-title {
        border-bottom: 2px solid #70C24A;
    }
}
@media screen and (max-width: 1000px) {
    .twitter {
        display: none !important;
    }
}
