
/* navbar */
.navbar {
  background: #2C4395;
  font-family: 'Nunito', sans-serif;
}
/* liens menu */
.menu-items {
  color: white !important;
  transition: color 0.3s;
}
.menu-items:hover {
  color: #7EE94C !important;
}
.logo {
  font-family: 'Lobster', sans-serif;
  font-size: 32px;
  color: white;
}
.logo:hover {
  color: white;
}
.don {
  color: #7EE94C;
  border: 2px solid #7EE94C;
  border-radius: 20px;
  transition: color 0.3s;
  transition: background-color 0.3s;
  width: 150px;
  height: 36px;
}
.don:hover {
  color: #2C4395;
  background-color: #7EE94C;
}
/* menu burger */
#wrapper {
  background: #7EE94C;
  display: inline-block;
  border-radius: 500px;
  margin: 0px;
  position: relative;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.circle {
  width: 20px;
  height: 20px;
  position: relative;
}
.line {
  position: absolute;
  height: 2px;
  width: 100%;
  background: white;
  border-radius: 8px;
  transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
}
.top {
  top: 18%;
}
.middle {
  top: 48%;
}
.bottom {
  top: 78%;
}
.icon.close .top {
  transform: rotate(45deg);
  top: 48%;
}
.icon.close .middle, .icon.close .bottom {
  transform: rotate(-45deg);
  top: 48%;
}
/* carousel */
 /* .owl-carousel {
  height: 600px;;
  width: 900px;
}
.owl-item {
  display: flex;
  justify-content: center;
}
.item1 {
  height: 600px;
  width: 900px;
}
.item2 {
  height: 600px;
  width: 900px;
}
.item3 {
  height: 600px;
  width: 900px;
}
.item4 {
  height: 600px;
  width: 900px;
} */
.img {
  object-fit: cover;
}
/* main */
.baniere-title {
  height: 710px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/6L8A6693.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: local, fixed;
}
.title {
  font-family: 'Dosis', sans-serif;
  font-size: 56px;
}
.slogan {
  font-style: italic;
}
/* .descript-img1 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/IMG_4659.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.descript-img2 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/descript-img1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
} */
h2, p {
  font-size: 26px;
  font-family: 'Dosis', sans-serif;
  color: #6F6F6F;
}
h3 {
  font-family: 'Dosis', sans-serif;
}
/* .descript-title {
  background: #2C4395;
} */
/* Media query */
@media screen and (min-width: 1200px) {
  .img {
    object-fit: cover;
    height: 710px;
  }
}
.donation {
  height: 350px;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/IMG_7023.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: local, fixed;
}
/* footer {
  width: 100%;
  height: 200px;
  background: #2C4395;
} */
